:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--accent);
  background-color: var(--lightest);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.main {
  height: 100vh;
  /* Adjust as needed */
  width: 100%;
  /* Adjust as needed */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* ================= LOGIN SYLING ===================== */

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
}

.login-wrapper h1 {
  font-size: 3rem;
  color: var(--normal);
}

.login-wrapper label {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--normal);
}

.login-wrapper input {
  width: 20rem;
  padding: 1rem;
  background-color: var(--lightest);
  color: var(--normal);
  font-size: 1.2rem;
  border-radius: 0.7rem;
  border: 0.1rem solid #ccc;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
}

.login-wrapper button {
  width: 21rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  color: var(--normal);
  font-weight: 400;
  font-size: 1.5rem;
  background-color: var(--lightest);
  cursor: pointer;
  border: .12rem solid var(--normal);
}

.login-wrapper button:hover {
  background-color: var(--normal);
  color: var(--lightest);
}

.login-wrapper p {
  color: red;
  font-size: 1.2rem;
}

/* ================= END OF LOGINM STYLING ===================== */





/* ================= HOME STYLING ===================== */

.dashboard-admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.carwash-list {
  gap: 1rem;
  width: 70%;
  border: 1.3px solid var(--normal);
  border-radius: .5rem;
  background-color: var(--lighter);
  border-collapse: separate;
  margin-top: 13vh;
  color: var(--normal);
}

.carwash-list tbody td {
  box-sizing: border-box;
  border-right: .1rem solid var(--normal);
  text-align: center;
  width: 25%;
  list-style-type: none;
  padding: .3rem;
  cursor: pointer;
}

.carwash-list tbody td:last-child {
  border-right: none;
}

.carwash-list tbody tr {
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.carwash-list>tbody>tr>td>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carwash-list>tbody>tr>td>div>button {
.carwash-list>tbody>tr>td>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carwash-list>tbody>tr>td>div>button {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  color: var(--normal);
  background-color: transparent;
  font-weight: 200;
  cursor: pointer;
  transition: flex 0.2s ease-in-out;
}

.carwash-modal {
  display: flex;
  justify-content: space-between;
  color: var(--lightest);
  font-weight: bolder;
  margin-top: 7vh;
  margin-top: 7vh;
  font-size: 1.2em;
}

.carwash-modal button {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  padding: 1vh;
  width: fit-content;
  color: var(--normal);
  font-weight: normal;
  margin-top: .3vh;
  cursor: pointer;
  gap: .5rem;
  user-select: none;
}

.addUsers-modal {
    display: flex;
    justify-content: center;
    color: var(--lightest);
    font-weight: bolder;
    margin-top: 1vh;
    font-size: 1.2em;
    flex-direction: column;
    align-items: center;
}

.addUsers-modal button {
  background-color: transparent;
  border: 1px solid var(--normal);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 1vh;
  width: 10vw;
  color: var(--normal);
  font-weight: bold;
  cursor: pointer;
  gap: .5rem;
  user-select: none;
  margin-left:auto;
  margin-right:auto;
  margin-top:2vh;
}

.addProducts-modal {
  display: flex;
  justify-content: center;
  color: var(--lightest);
  font-weight: bolder;
  margin-top: 1vh;
  font-size: 1.2em;
  flex-direction: column;
  align-items: center;
}

.addProducts-modal button {
background-color: transparent;
border: 1px solid var(--normal);
border-radius: 0.5rem;
display: flex;
align-items: center;
justify-content: center;
align-content: center;
padding: 1vh;
margin-top:2vh;
width: 12vw;
color: var(--normal);
font-weight: bold;
cursor: pointer;
gap: .5rem;
user-select: none;
}

.orderBy-button {
background-color: transparent;
border: 1px solid var(--normal);
border-radius: 0.5rem;
display: flex;
align-items: center;
justify-content: center;
align-content: center;
padding: 1vh;
margin-top:2vh;
width: 12vw;
color: var(--normal);
font-weight: bold;
cursor: pointer;
gap: .5rem;
user-select: none;
margin-left: auto;
margin-right: auto;
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
}

.user-div {
  margin-top: 100vh;
  position: fixed;
}

.user-div>button {
  background-color: transparent;
  border: 1px solid var(--normal);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 1vh;
  width: 20vw;
  color: var(--normal);
  font-weight: bold;
  margin-top: .3vh;
  cursor: pointer;
  gap: .5rem;
  user-select: none;
  margin-top:-13vh;
  margin-top:-13vh;
}

.searchContainer {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
  top: 1.5rem;
	background-color: var(--lightest);
  border: solid .1rem var(--normal);
	border-radius: 1rem;
	padding: .25em;
	width: min(60em, 80%);
	cursor: pointer;
}

.searchContainer > div:first-child {
	display: flex;
	flex-direction: row;
}

.searchContainer > div:nth-child(2) > span:first-child {
	border-top: .2em solid var(--lightGray);
}

.searchContainer > div > input {
	font-size: 1.5em;
	padding: 0.5em;
	border: none;
	border-radius: 2rem;
	color: var(--dark); 
	background-color: var(--lightest);
	flex-grow: 1;
	flex-shrink: 1;
}

.searchContainer > div > input:focus {
	outline: none;
}

.searchContainer > div > input::placeholder {
	color: var(--dark); 
}	

.searchContainer > div > button {
	font-size: 1.5em;
	padding: 0.5em;
	border: none;
	border-radius: 2rem;
	background-color: var(--lightest);
	color: var(--dark);
}

.searchContainer > div > button:focus {
	outline: none;
}

.searchContainer > div > button:hover {
	cursor: pointer;
	color: var(--dark);
}

.searchContainer > div > button:active {
	color: var(--darker);
}

.search-table-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2vh;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lightinbetween);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--normal);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--normal);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.users-list {
  width: 100%;
  gap: 1rem;
  border: 1.3px solid var(--normal);
  border-radius: .5rem;
  background-color: var(--lighter);
  border-collapse: separate;
  margin-top: 1vh;
  color: var(--accent);
}

.users-list tbody td {
  box-sizing: border-box;
  border-right: .1rem solid var(--accent);
  border-right: .1rem solid var(--accent);
  text-align: center;
  width: 25%;
  list-style-type: none;
  padding: .3rem;
}

.users-list tbody td:last-child {
  border-right: none;
}

.users-list tbody tr {
  box-sizing: border-box;
  border-bottom: 1px solid black;
  color: var(--normal);
}

.users-list>tbody>tr>td>div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--normal);
}

.users-list>tbody>tr>td>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.users-list>tbody>tr>td>div>button {
.users-list>tbody>tr>td>div>button {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  color: var(--normal);
  background-color: transparent;
  font-weight: 200;
  cursor: pointer;
  transition: flex 0.2s ease-in-out;
}

.users-list-row > td {
  color: black;
  font-weight: normal;
}

.button-user-products{
  background-color: transparent;
  border: 1px solid var(--normal);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 1vh;
  width: 20vw;
  color: var(--normal);
  font-weight: bold;
  margin-top: -7vh;
  cursor: pointer;
  gap: .5rem;
  user-select: none;
  margin-left:auto;
  margin-right:auto;
}

.user-input {
  padding: .5rem;
  background-color: var(--lightest);
  color: var(--normal);
  font-size: 1rem;
  border-radius: 0.7rem;
  border: 0.1rem solid #ccc;
  color: var(--accent);
}

.user-input-select{
  color: var(--accent);
  padding: .6rem;
}

.users-list-row > td {
  color: black;
  font-weight: normal;
}

.button-user-products{
  background-color: transparent;
  border: 1px solid var(--normal);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 1vh;
  width: 20vw;
  color: var(--normal);
  font-weight: bold;
  margin-top: -7vh;
  cursor: pointer;
  gap: .5rem;
  user-select: none;
  margin-left:auto;
  margin-right:auto;
}

.user-input {
  padding: .5rem;
  background-color: var(--lightest);
  color: var(--normal);
  font-size: 1rem;
  border-radius: 0.7rem;
  border: 0.1rem solid #ccc;
  color: var(--accent);
}

.user-input-select{
  color: var(--accent);
  padding: .6rem;
  width: 100%;
  background-color: var(--lightest);
  color: var(--normal);
  font-size: 1rem;
  border-radius: 0.7rem;
  border: none;
  cursor: pointer;
  appearance: none;
  align-content: center;
  
}

.user-input-select:hover {
  background-color: var(--lightest);
  border:none;
}

.shadow {
  position: absolute;
  background-color: var(--lightest);
  transition: .5s ease;
  display: flex;
  left: 50%;
  top: 2%;
  transform: translateX(-50%);
  overflow: hidden;
  flex-direction: column;
  border-radius: 10px;
  padding: 2em;
  font-size: 1.2em;
  gap: .2em;
  border: 2px solid var(--normal);
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: 3000;
}

.shadow > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.shadow > div > span.hover {
  cursor: pointer;
  border-radius: 12px;
  font-weight: 600;
  color: #000000;
}

.shadow > div > span:nth-child(2) {
  font-size: 1.5em;
  font-weight: 900;
  color: var(--normal);
}

.flex-center {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  font-size: 1.2em;
  padding: 1em;
  align-items: center;
}

.flex-center > .arrow-minus,
.flex-center > .arrow-plus {
  padding: .5em;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2rem;
}

.flex-center > .arrow-minus {
  margin-left: 11em;
}

.flex-center > .arrow-plus {
  margin-right: 11em;
}

.flex-center > span:nth-child(2) {
  margin-bottom: .4em;
}

.userProducts-searchContainer {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
  top: 8rem;
	background-color: var(--lightest);
  border: solid .1rem var(--normal);
	border-radius: 1rem;
	padding: .05em;
	width: min(25em, 80%);
	cursor: pointer;
}

.userProducts-searchContainer > div:first-child {
	display: flex;
	flex-direction: row;
}

.userProducts-searchContainer > div:nth-child(2) > span:first-child {
	border-top: .2em solid var(--lightGray);
}

.userProducts-searchContainer > div > input {
	font-size: .7em;
	padding: 0.5em;
	border: none;
	border-radius: 2rem;
	color: var(--dark); 
	background-color: var(--lightest);
	flex-grow: 1;
	flex-shrink: 1;
}

.userProducts-searchContainer > div > input:focus {
	outline: none;
}

.userProducts-searchContainer > div > input::placeholder {
	color: var(--dark); 
}	

.userProducts-searchContainer > div > button {
	font-size: 1em;
	padding: 0.5em;
	border: none;
	border-radius: 2rem;
	background-color: var(--lightest);
	color: var(--dark);
}

.userProducts-searchContainer > div > button:focus {
	outline: none;
}

.userProducts-searchContainer > div > button:hover {
	cursor: pointer;
	color: var(--dark);
}

.userProducts-searchContainer > div > button:active {
	color: var(--darker);
}

  background-color: var(--lightest);
  color: var(--normal);
  font-size: 1rem;
  border-radius: 0.7rem;
  border: none;
  cursor: pointer;
  appearance: none;
  align-content: center;
  
}

.user-input-select:hover {
  background-color: var(--lightest);
  border:none;
}

.shadow {
  position: absolute;
  background-color: var(--lightest);
  transition: .5s ease;
  display: flex;
  left: 50%;
  top: 2%;
  transform: translateX(-50%);
  overflow: hidden;
  flex-direction: column;
  border-radius: 10px;
  padding: 2em;
  font-size: 1.2em;
  gap: .2em;
  border: 2px solid var(--normal);
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: 3000;
}

.shadow > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.shadow > div > span.hover {
  cursor: pointer;
  border-radius: 12px;
  font-weight: 600;
  color: #000000;
}

.shadow > div > span:nth-child(2) {
  font-size: 1.5em;
  font-weight: 900;
  color: var(--normal);
}

.flex-center {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  font-size: 1.2em;
  padding: 1em;
  align-items: center;
}

.flex-center > .arrow-minus,
.flex-center > .arrow-plus {
  padding: .5em;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2rem;
}

.flex-center > .arrow-minus {
  margin-left: 11em;
}

.flex-center > .arrow-plus {
  margin-right: 11em;
}

.flex-center > span:nth-child(2) {
  margin-bottom: .4em;
}

.userProducts-searchContainer {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
  top: 8rem;
	background-color: var(--lightest);
  border: solid .1rem var(--normal);
	border-radius: 1rem;
	padding: .05em;
	width: min(25em, 80%);
	cursor: pointer;
}

.userProducts-searchContainer > div:first-child {
	display: flex;
	flex-direction: row;
}

.userProducts-searchContainer > div:nth-child(2) > span:first-child {
	border-top: .2em solid var(--lightGray);
}

.userProducts-searchContainer > div > input {
	font-size: .7em;
	padding: 0.5em;
	border: none;
	border-radius: 2rem;
	color: var(--dark); 
	background-color: var(--lightest);
	flex-grow: 1;
	flex-shrink: 1;
}

.userProducts-searchContainer > div > input:focus {
	outline: none;
}

.userProducts-searchContainer > div > input::placeholder {
	color: var(--dark); 
}	

.userProducts-searchContainer > div > button {
	font-size: 1em;
	padding: 0.5em;
	border: none;
	border-radius: 2rem;
	background-color: var(--lightest);
	color: var(--dark);
}

.userProducts-searchContainer > div > button:focus {
	outline: none;
}

.userProducts-searchContainer > div > button:hover {
	cursor: pointer;
	color: var(--dark);
}

.userProducts-searchContainer > div > button:active {
	color: var(--darker);
}


/* ================= END OF HOME STYLING ===================== */





@media (prefers-color-scheme: light) {
  :root {
    --lightest: white;
    --lighter: lightgray;
    --lightinbetween:#c0c4c9;
    --light: #708090;
    /* This is a greyer version of #264E86 */
    --normal: #264E86;
    --dark: black;
    --darker: #00667A;
    --darkest: #004C5C;
    --accent: black;
    --accent2: white;
    --lightGray: #7A8C8D;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --lightest: white;
    --lighter: lightgray;
    --lightinbetween:#c0c4c9;
    --light: #708090;
    /* This is a greyer version of #264E86 */
    --normal: #264E86;
    --dark: black;
    --darker: #00667A;
    --darkest: #004C5C;
    --accent: black;
    --accent2: white;
    --lightGray: #7A8C8D;
  }
}
